*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*HEADER*/
.header {
    display: flex; /*hacemos que los elementos se coloquen en fila o columna*/
    justify-content: space-between; /*con esto logramos que el logo se vaya a la izquierda y el menu a la derecha*/
    align-items: center;/* centrado vertical */
    padding: 2px 20px;
    background-color: #000;
}

/*LOGO*/
.logo-festival img {
    display: block;
}

/*MENU*/
.menu ul {
    list-style: none;
    display: flex;   /*los items en fila*/
    gap: 25px;  /*espacio entre los links*/
    margin: 0;
    padding: 0;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
}

.menu ul li a:hover {
    color: #e10600;
}

/*FOOTER*/
.footer {
    background-color: #000;
    color: #aaa;
    padding: 20px;
    text-align: center;
}

.footer ul{
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.footer a {
    color: #aaa;
    text-decoration: none;
}

.footer a:hover {
    color: #e10600;
}

.derechos-autor {
    margin-top: 15px;
    text-align: center;
    border-top: 1px solid #222;
    padding-top: 10px;
}

.derechos-autor strong {
    color: #fff;
}
